
.vs/MiniGraphic/v15/.suo
.vs/MiniGraphic/v15/Browse.VC.db
.vs/MiniGraphic/v15/ipch/AutoPCH/1dd8e77800d67515/D3DUTIL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/2912322825773288/LOADTEXTURE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/2efecb5b2f5c2333/GAMETIMER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/310abc79c9cb9c4/MESHINFO.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/32dc0a4cfb894cd9/GRAPHICENGINE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/3b0457b17ed82cf1/MAIN.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/3dda5986476f3754/SKY.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/3fc12ba57e3dc9a0/GEOMETRYGENERATOR.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/4be9b38fb929afcd/UTIL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/53fd1a082821ec36/DESCRIPTORHEAP.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/58f286bf97e9f6fc/DDSTEXTURELOADER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/5b949a82fa9fe5e8/VULKAN.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/658ecf6cc9e98364/LOADMATERIAL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/717240f147785cc8/CAMERA.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/7c3b5daf365d19e3/GEOMETRYGENERATOR.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/829492a73063b30e/D3DWINDOWS.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/8e88d0b09b7543b6/FRAMERESOURCE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/a1bbb8d5494609fe/UTIL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/ac3458187cf07c24/VULKANBASE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/b6391379f9d38ed8/SKY.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/be4b989bcf35d327/SHADERSTATE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/e853ac243522dfc/MATHHELPER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/ef107d31412223f4/GAME.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/f36178927ef70820/D3DAPP.ipch
Debug/Camera.obj
Debug/D3DApp.obj
Debug/D3DWindows.obj
Debug/DDSTextureLoader.obj
Debug/DescriptorHeap.obj
Debug/FrameResource.obj
Debug/Game.obj
Debug/GameTimer.obj
Debug/GeometryGenerator.obj
Debug/GraphicEngine.obj
Debug/LoadMaterial.obj
Debug/LoadTexture.obj
Debug/main.obj
Debug/MathHelper.obj
Debug/MeshInfo.obj
Debug/MiniGraphic.Build.CppClean.log
Debug/MiniGraphic.exe
Debug/MiniGraphic.ilk
Debug/MiniGraphic.log
Debug/MiniGraphic.pdb
Debug/MiniGraphic.res
Debug/MiniGraphic.tlog/CL.command.1.tlog
Debug/MiniGraphic.tlog/CL.read.1.tlog
Debug/MiniGraphic.tlog/CL.write.1.tlog
Debug/MiniGraphic.tlog/link.command.1.tlog
Debug/MiniGraphic.tlog/link.read.1.tlog
Debug/MiniGraphic.tlog/link.write.1.tlog
Debug/MiniGraphic.tlog/MiniGraphic.lastbuildstate
Debug/MiniGraphic.tlog/rc.command.1.tlog
Debug/MiniGraphic.tlog/rc.read.1.tlog
Debug/MiniGraphic.tlog/rc.write.1.tlog
Debug/RenderItem.obj
Debug/ShaderState.obj
Debug/Sky.obj
Debug/Util.obj
Debug/vc141.idb
Debug/vc141.pdb
Debug/VulkanBase.obj
Debug/WindowsInput.obj
gfxrecon_capture_20210110T145953.gfxr
x64/Debug/MiniGraphic.log
x64/Debug/MiniGraphic.tlog/CL.command.1.tlog
x64/Debug/MiniGraphic.tlog/CL.read.1.tlog
x64/Debug/MiniGraphic.tlog/CL.write.1.tlog
x64/Debug/MiniGraphic.tlog/MiniGraphic.lastbuildstate
x64/Debug/MiniGraphic.tlog/unsuccessfulbuild
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
