
gfxrecon_capture_20210108T175741.gfxr
gfxrecon_capture_20210108T175718.gfxr
gfxrecon_capture_20210108T171440.gfxr
gfxrecon_capture_20210108T171343.gfxr
gfxrecon_capture_20210108T171317.gfxr
Debug/WindowsInput.obj
Debug/VulkanBase.obj
Debug/vc141.pdb
Debug/vc141.idb
Debug/Util.obj
Debug/ShaderState.obj
Debug/RenderItem.obj
Debug/MiniGraphic.tlog/rc.write.1.tlog
Debug/MiniGraphic.tlog/rc.read.1.tlog
Debug/MiniGraphic.tlog/rc.command.1.tlog
Debug/MiniGraphic.tlog/MiniGraphic.lastbuildstate
Debug/MiniGraphic.tlog/link.write.1.tlog
Debug/MiniGraphic.tlog/link.read.1.tlog
Debug/MiniGraphic.tlog/link.command.1.tlog
Debug/MiniGraphic.tlog/CL.write.1.tlog
Debug/MiniGraphic.tlog/CL.read.1.tlog
Debug/MiniGraphic.tlog/CL.command.1.tlog
Debug/MiniGraphic.res
Debug/MiniGraphic.pdb
Debug/MiniGraphic.log
Debug/MiniGraphic.ilk
Debug/MiniGraphic.exe
Debug/MeshInfo.obj
Debug/MathHelper.obj
Debug/main.obj
Debug/LoadTexture.obj
Debug/LoadMaterial.obj
Debug/GraphicEngine.obj
Debug/GeometryGenerator.obj
Debug/GameTimer.obj
Debug/Game.obj
Debug/FrameResource.obj
Debug/DescriptorHeap.obj
Debug/DDSTextureLoader.obj
Debug/D3DWindows.obj
Debug/d3dUtil.obj
Debug/D3DApp.obj
Debug/Camera.obj
.vs/MiniGraphic/v15/ipch/AutoPCH/f71221215d77d59f/CONSTANTBUFFER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/f22a2ea34d551943/ROOTSIGNATURE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/e62e11af3933d939/WINDOWS.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/e04f6f36b6d3785c/LOADMATERIAL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/df9fd720a46c1e5f/D3DAPP.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/dab5f930a3d68cbc/WINDOWSINPUT.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/da37861e8a10d2df/PIPELINESTATE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/d718d19061b4a342/D3DWINDOWS.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/d281b1aa4e8103f1/D3DWINDOWS.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/cfe777deda0d237d/DESCRIPTORHEAP.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/cbb289ef7142cbb4/DDSTEXTURELOADER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/ca0f8c5b467f22f1/GRAPHICENGINE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/c67aa533c415a87e/RENDERITEM.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/c05afbd5b1b0d711/WINDOWS.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/bfd5e394b62b03ec/PIPELINESTATE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/bee709e2bacf28d0/GAMETIMER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/b7916fe3702c0a1e/D3DUTIL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/b6ce569074f4b2ec/GAME.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/ac696eb1355f69a3/MESHINFO.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/a6a5962a4d867be4/MATHHELPER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/a6802ffd014b22e6/UTIL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/a47d3323e7e2c76a/WINDOWS.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/9f0f913aa0a48381/LOADTEXTMESH.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/9d636a36a8f18ee8/D3DAPP.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/9ce9e0d248e90ed2/LOADTEXTMESH.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/9cc88ed1a9df774d/RESOURCESTRUCT.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/9b5b08c5c8bcc58f/MESHINFO.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/95b4c56b94d05981/FRAMERESOURCE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/90d8d6b6480015c3/ENGINE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/8cd78e4f4034e0f8/MINIGRAPHIC.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/8c89b48e1ae98fbf/SHADERSTATE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/858b92c0f264ecab/GAMETIMER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/7f5b3eaf7428f87f/WINDEF.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/7d3187592a1498a0/SKY.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/7aa6193e118b11f8/MINIGRAPHIC.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/751c7e0930418e0/CAMERA.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/6ec148fbe841a3a7/GRAPHICHEADER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/6b5be59963ae94de/FRAMERESOURCE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/673676d54128e506/UPLOADBUFFER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/4a1a70b4b06590c6/D3DWINDOWS.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/45db42cbe6efc678/GEOMETRYGENERATOR.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/44a283bff8ff441c/MESHINFO.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/32e50077a0c7b51d/D3DUTIL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/2ffee29fcfd287c0/LOADTEXTURE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/2f2fd9c27491c261/VCRUNTIME_EXCEPTION.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/2c4630a46f6a83c8/WINUSER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/29c46147a012ab4b/WINDOWSINPUT.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/278908832355abfc/VULKANBASE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/1d7f5821b143eaee/DESCRIPTORHEAP.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/12b5c842bbbcaa29/MAIN.ipch
.vs/MiniGraphic/v15/Browse.VC.db
.vs/MiniGraphic/v15/.suo
gfxrecon_capture_20210114T122819.gfxr
gfxrecon_capture_20210114T104239.gfxr
gfxrecon_capture_20210113T135722.gfxr
gfxrecon_capture_20210113T134845.gfxr
Debug/Sky.obj
.vs/MiniGraphic/v15/ipch/AutoPCH/80fda877627b58c/SKY.ipch
.vs/MiniGraphic/v15/Browse.VC.opendb
.vs/MiniGraphic/v15/ipch/AutoPCH/fb3c592b6fc25137/SHADOWMAP.ipch
Debug/Landscape.obj
Debug/ShadowMap.obj
.vs/MiniGraphic/v15/ipch/AutoPCH/1dd8e77800d67515/D3DUTIL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/277cc897f68acecf/SHADOWMAP.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/2912322825773288/LOADTEXTURE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/2efecb5b2f5c2333/GAMETIMER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/310abc79c9cb9c4/MESHINFO.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/32dc0a4cfb894cd9/GRAPHICENGINE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/3b0457b17ed82cf1/MAIN.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/3dda5986476f3754/SKY.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/3fc12ba57e3dc9a0/GEOMETRYGENERATOR.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/4be9b38fb929afcd/UTIL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/53fd1a082821ec36/DESCRIPTORHEAP.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/58f286bf97e9f6fc/DDSTEXTURELOADER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/5b949a82fa9fe5e8/VULKAN.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/658ecf6cc9e98364/LOADMATERIAL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/717240f147785cc8/CAMERA.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/7c3b5daf365d19e3/GEOMETRYGENERATOR.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/829492a73063b30e/D3DWINDOWS.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/8e88d0b09b7543b6/FRAMERESOURCE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/a1bbb8d5494609fe/UTIL.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/ac3458187cf07c24/VULKANBASE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/b6391379f9d38ed8/SKY.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/be4b989bcf35d327/SHADERSTATE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/c124b560ab555be/LANDSCAPE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/e853ac243522dfc/MATHHELPER.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/ef107d31412223f4/GAME.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/f36178927ef70820/D3DAPP.ipch
Debug/MiniGraphic.Build.CppClean.log
gfxrecon_capture_20210110T145953.gfxr
x64/Debug/MiniGraphic.log
x64/Debug/MiniGraphic.tlog/CL.command.1.tlog
x64/Debug/MiniGraphic.tlog/CL.read.1.tlog
x64/Debug/MiniGraphic.tlog/CL.write.1.tlog
x64/Debug/MiniGraphic.tlog/MiniGraphic.lastbuildstate
x64/Debug/MiniGraphic.tlog/unsuccessfulbuild
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
MiniGraphic.exe
.vs/MiniGraphic/v15/ipch/AutoPCH/4073a28d19a729b6/LANDSCAPE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/7c8a37ffa2891800/SSAO.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/a0ded439c57dbe13/SSAO.ipch
Debug/Ssao.obj
.vs/MiniGraphic/v15/ipch/AutoPCH/ff7037d71c5d626b/SSAO.ipch
Debug/shadowmap.obj.enc
Debug/ssao.obj.enc
.vs/MiniGraphic/v15/ipch/AutoPCH/321f242560a33ab0/D3DAPP.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/7bee9d0fc00e5c49/GRAPHICENGINE.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/a81211f7ab30426/RENDERITEM.ipch
Debug/d3dapp.obj.enc
Release/Camera.obj
Release/D3DApp.obj
Release/D3DWindows.obj
Release/DDSTextureLoader.obj
Release/DescriptorHeap.obj
Release/FrameResource.obj
Release/Game.obj
Release/GameTimer.obj
Release/GeometryGenerator.obj
Release/GraphicEngine.obj
Release/LoadMaterial.obj
Release/LoadTexture.obj
Release/main.obj
Release/MathHelper.obj
Release/MeshInfo.obj
Release/MiniGraphic.iobj
Release/MiniGraphic.ipdb
Release/MiniGraphic.log
Release/MiniGraphic.pdb
Release/MiniGraphic.res
Release/MiniGraphic.tlog/CL.command.1.tlog
Release/MiniGraphic.tlog/CL.read.1.tlog
Release/MiniGraphic.tlog/CL.write.1.tlog
Release/MiniGraphic.tlog/link.command.1.tlog
Release/MiniGraphic.tlog/link.read.1.tlog
Release/MiniGraphic.tlog/link.write.1.tlog
Release/MiniGraphic.tlog/MiniGraphic.lastbuildstate
Release/MiniGraphic.tlog/MiniGraphic.write.1u.tlog
Release/MiniGraphic.tlog/rc.command.1.tlog
Release/MiniGraphic.tlog/rc.read.1.tlog
Release/MiniGraphic.tlog/rc.write.1.tlog
Release/RenderItem.obj
Release/ShaderState.obj
Release/ShadowMap.obj
Release/Sky.obj
Release/Ssao.obj
Release/Util.obj
Release/vc141.pdb
Release/VulkanBase.obj
Release/WindowsInput.obj
SDEngine-master/document/ClassStructView.mdj
SDEngine-master/document/GraphicsRenderPipeline.png
SDEngine-master/document/GraphicsRenderPipeline.vsdx
SDEngine-master/README.md
.vs/MiniGraphic/v15/ipch/AutoPCH/59be24c12d0eb620/DEFERREDSHADING.ipch
.vs/MiniGraphic/v15/ipch/AutoPCH/bbce48a4b5077e63/DEFERREDSHADING.ipch
Debug/DeferredShading.obj
